
<!-- form_pago.html -->
{% extends 'base.html' %}

{% block contenido %}
<div class="form-container fade-in">
    <h1 class="form-title">{% if form.instance.pk %}Editar{% else %}Crear{% endif %} Pago de Mensualidad</h1>
    
    <form method="post">
        <div class="form-group">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a href="{% url 'lista_pagos_mensualidad' %}" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}