{% extends 'base.html' %}
{% load form_tags %}
{% block contenido %}
<div class="form-container fade-in">
    <h2 class="form-title">Registro de Asistencia</h2>
    <h4>{{ asignatura.nombre }} - {{ asignatura.curso }}</h4>
    <p class="text-muted">Fecha y hora: {{ fecha_hora|date:"d/m/Y H:i" }}</p>
    
    <form method="post" class="mt-4">
        <div class="form-group">
            {% csrf_token %}
            {{ formset.management_form }}
            <table class="table">
                <thead>
                    <tr>
                        <th>Alumno</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for form in formset %}
                    <tr>
                        <td>
                            {{ form.matricula }}
                        </td>
                        <td>{{ form.estado }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary">Guardar Asistencia</button>
        </div>
    </form>
</div>
{% endblock %}